/* logo */
.logo {
  display: flex;
  color: var(--acent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    }
  .header__container & {
      padding-top: 16px;
      padding-bottom: 16px;
    @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
}

.logo__black {
  color: var(--logo-color);
  margin-left: 0px;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
    }
  @media screen and (min-width: 1200px) {
  margin-right: 93px;
  }
}

.logo__white {
  color: var(--white-color);
}
