@media screen and (min-width: 1200px) {

    .contacts{
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }

    .contacts__item:not(:last-child) {
        margin-right: 50px;
    }

    .contaﾑ》s__link {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
    }

    .contaﾑ》s__icon{
        width: 16px;
        height: 16px;
        fill: var(--second-text-color);
        margin-right: 10px;
          
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
          
        .contaﾑ》s__link:hover &,
        .contaﾑ》s__link:focus & {
            fill: var(--acent-color);
            }
    }

  }